intro_setup/Hello World/Library/ScriptMapper
intro_setup/Hello World/Library/ShaderCache.db
intro_setup/Hello World/Library/shadercompiler-UnityShaderCompiler.exe0.log
*.asset
intro_setup/Hello World/Library/metadata/
intro_setup/Hello World/Library/PackageCache/com.unity.ads@2.3.1/CHANGELOG.md
intro_setup/Hello World/Library/expandedItems
intro_setup/Hello World/Library/assetDatabase3
intro_setup/Hello World/Library/AnnotationManager
intro_setup/Hello World/Library/ShaderCache/
*.dll
*.pdb
*.psd
*.bundle
intro_setup/Hello World/Library/PackageCache/com.unity.ads@2.3.1/Runtime/Plugins.meta
intro_setup/number wizard/Number Wizard Console/Library/metadata/
*.mdb
*.bin
intro_setup/number wizard/Number Wizard Console/Temp/UnityLockfile
intro_setup/number wizard/Number Wizard Console/Library/PackageCache/com.unity.ads@2.3.1/Runtime/Plugins/Android/UnityAds.aar
intro_setup/number wizard/Number Wizard Console/Library/PackageCache/
intro_setup/number wizard/Number Wizard Console/Library/assetDatabase3
*.db
intro_setup/number wizard/Number Wizard Console/Library/ScriptMapper
intro_setup/number wizard/Number Wizard Console/Library/expandedItems
intro_setup/number wizard/Number Wizard Console/Library/AnnotationManager
intro_setup/number wizard/Number Wizard Console/Temp/
intro_setup/number wizard/text 101/.vs/
intro_setup/number wizard/text 101/Library/metadata/
intro_setup/number wizard/text 101/Library/PackageCache/
intro_setup/number wizard/text 101/obj/Debug/
*.log
intro_setup/number wizard/text 101/Temp/
